force-app/main/default/flows/Add_Suppliers_from_Framework_Lot_to_Procurement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Case_Sup_SObject_to_Case_Supplier_collection</name>
        <label>Add Case Sup SObject to Case Supplier collection</label>
        <locationX>932</locationX>
        <locationY>163</locationY>
        <assignmentItems>
            <assignToReference>CaseSupplier</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CaseSup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Suppliers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_CaseSup_SObject</name>
        <label>Assign values to CaseSup SObject</label>
        <locationX>839</locationX>
        <locationY>73</locationY>
        <assignmentItems>
            <assignToReference>CaseSup.Procurement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseSup.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supplier.Supplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_Sup_SObject_to_Case_Supplier_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_any_existing_suppliers</name>
        <label>Check if any existing suppliers</label>
        <locationX>297</locationX>
        <locationY>49</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Existing_Suppliers0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOSuppliers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_all_Suppliers_on_attached_Framework_Lot</targetReference>
            </connector>
            <label>Existing Suppliers=0</label>
        </rules>
        <rules>
            <name>Existing_Suppliers_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOSuppliers</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_existing_suppliers_on_case</targetReference>
            </connector>
            <label>Existing Suppliers&gt;0</label>
        </rules>
    </decisions>
    <description>Deletes existing suppliers on case and then add suppliers from the lot</description>
    <interviewLabel>Add Suppliers from Framework Lot to Procurement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Suppliers from Framework Lot to Procurement</label>
    <loops>
        <name>Loop_through_Suppliers</name>
        <label>Loop through Suppliers</label>
        <locationX>596</locationX>
        <locationY>251</locationY>
        <assignNextValueToReference>Supplier</assignNextValueToReference>
        <collectionReference>SupplierLoop</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_CaseSup_SObject</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Bulk_create_the_case_supplier_records_using_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Bulk_create_the_case_supplier_records_using_collection</name>
        <label>Bulk create the case supplier records using collection</label>
        <locationX>771</locationX>
        <locationY>407</locationY>
        <inputReference>CaseSupplier</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Suppliers</name>
        <label>Delete Existing Suppliers</label>
        <locationX>285</locationX>
        <locationY>315</locationY>
        <connector>
            <targetReference>Find_all_Suppliers_on_attached_Framework_Lot</targetReference>
        </connector>
        <inputReference>ExistingSuppliers</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Find_all_Suppliers_on_attached_Framework_Lot</name>
        <label>Find all Suppliers on attached Framework Lot</label>
        <locationX>614</locationX>
        <locationY>137</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Suppliers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Master_Framework_Lot__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FrameworkLotId</elementReference>
            </value>
        </filters>
        <object>Supplier_Framework_Lot__c</object>
        <outputReference>SupplierLoop</outputReference>
        <queriedFields>Supplier__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_suppliers_on_case</name>
        <label>Get existing suppliers on case</label>
        <locationX>237</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Existing_Suppliers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Procurement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case_Supplier__c</object>
        <outputReference>ExistingSuppliers</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Check_if_any_existing_suppliers</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseSup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Supplier__c</objectType>
    </variables>
    <variables>
        <description>Hold case supplier record</description>
        <name>CaseSupplier</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Supplier__c</objectType>
    </variables>
    <variables>
        <name>ExistingSuppliers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Supplier__c</objectType>
    </variables>
    <variables>
        <name>FrameworkLotId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NumberOSuppliers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Supplier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Supplier_Framework_Lot__c</objectType>
    </variables>
    <variables>
        <name>SupplierLoop</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Supplier_Framework_Lot__c</objectType>
    </variables>
</Flow>
