force-app/main/default/flows/Associate_Level4_code_and_supplier_framework_lot_to_contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Replace_and</name>
        <label>Replace [ and ]</label>
        <locationX>325</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>Regions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Regions1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Matching_Supplier_Framework_Lot</targetReference>
        </connector>
    </assignments>
    <description>For a new contract created from a procurement, take the level 4 codes and associate them with the contract.  Also take the contract supplier and lot to create look up to the supplier lot record. Amended to pass procurement route text.</description>
    <formulas>
        <name>Regions1</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!Regions}, &quot;[&quot;, &quot;&quot;),&quot;]&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Associate Level4 code and supplier framework lot to contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Associate Level4 code and supplier framework lot to contract</label>
    <loops>
        <name>Iterate_through_Level4_codes</name>
        <label>Iterate through Level4 codes</label>
        <locationX>500</locationX>
        <locationY>160</locationY>
        <assignNextValueToReference>Level4ContractCodes</assignNextValueToReference>
        <collectionReference>Level4Codes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateLevel4Contract</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_framework_lot_from_case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateLevel4Contract</name>
        <label>CreateLevel4Contract</label>
        <locationX>767</locationX>
        <locationY>87</locationY>
        <connector>
            <targetReference>Iterate_through_Level4_codes</targetReference>
        </connector>
        <inputAssignments>
            <field>CCS_Contract__c</field>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code__c</field>
            <value>
                <elementReference>Level4ContractCodes.Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>Level_4_Categorisation_Code_for_Contract__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_framework_lot_from_case</name>
        <label>Get framework lot from Case</label>
        <locationX>235</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Supplier_from_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>ContractType</assignToReference>
            <field>Contract_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FrameworkLotId</assignToReference>
            <field>Framework_Lot__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProcurementRoute</assignToReference>
            <field>Procurement_Route_text__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Regions</assignToReference>
            <field>Regions__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Level_4_codes_from_Procurement_record</name>
        <label>Get Level 4 codes from Procurement record</label>
        <locationX>126</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Level4_codes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Procurement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Procurement_Cat_Code__c</object>
        <outputReference>Level4Codes</outputReference>
        <queriedFields>Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Supplier_Framework_Lot</name>
        <label>Get Matching Supplier Framework Lot</label>
        <locationX>517</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contract_with_Supplier_Framework_Lot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Master_Framework_Lot__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FrameworkLotId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <filters>
            <field>Supplier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WinningSupplierId</elementReference>
            </value>
        </filters>
        <object>Supplier_Framework_Lot__c</object>
        <outputAssignments>
            <assignToReference>SupplierFrameworkLotId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Supplier_from_Contract</name>
        <label>Get Supplier from Contract</label>
        <locationX>91</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Replace_and</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </filters>
        <object>CCS_Contract__c</object>
        <outputAssignments>
            <assignToReference>WinningSupplierId</assignToReference>
            <field>Supplier__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract_with_Supplier_Framework_Lot</name>
        <label>Update Contract with Supplier Framework Lot</label>
        <locationX>707</locationX>
        <locationY>379</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <elementReference>ContractType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procurement_Route__c</field>
            <value>
                <elementReference>ProcurementRoute</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regions__c</field>
            <value>
                <elementReference>Regions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Framework_Lot__c</field>
            <value>
                <elementReference>SupplierFrameworkLotId</elementReference>
            </value>
        </inputAssignments>
        <object>CCS_Contract__c</object>
    </recordUpdates>
    <startElementReference>Get_Level_4_codes_from_Procurement_record</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FrameworkLotId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Level4Codes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Procurement_Cat_Code__c</objectType>
    </variables>
    <variables>
        <name>Level4ContractCodes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Procurement_Cat_Code__c</objectType>
    </variables>
    <variables>
        <name>ProcurementRoute</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Regions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupplierFrameworkLotId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WinningSupplierId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
