force-app/main/default/flows/Calculate_Opportunity_Parent_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Value</name>
        <label>Assign Value</label>
        <locationX>1308</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>AllAmountValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAllChildOpps.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAllChildOpps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_0</name>
        <label>Assign Value</label>
        <locationX>877</locationX>
        <locationY>980</locationY>
        <assignmentItems>
            <assignToReference>AllAmountValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAllChildOpps_0.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountNumberofOpps</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Child_Opp_Records_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAllChildOpps_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>HasMoreChildOpps</name>
        <label>HasMoreChildOpps</label>
        <locationX>221</locationX>
        <locationY>1010</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_More_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllAmountValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_0</targetReference>
            </connector>
            <label>Yes - More than 0</label>
        </rules>
        <rules>
            <name>No_does_not_have_other_child_opps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountNumberofOpps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_0_0</targetReference>
            </connector>
            <label>No - does not have other child opps</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Removed_from_Opportunity</name>
        <label>Parent Removed from Opportunity</label>
        <locationX>125</locationX>
        <locationY>472</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Triggered_Child_Opportunity_Details.Parent_Opportunity_lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Child_Opp_Records_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Triggered_Child_Opportunity_Details.Parent_Opportunity_lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Child_Opp_Records</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Calculate Opportunity Parent Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Opportunity Parent Details</label>
    <loops>
        <name>LoopAllChildOpps</name>
        <label>LoopAllChildOpps</label>
        <locationX>884</locationX>
        <locationY>385</locationY>
        <collectionReference>Get_All_Child_Opp_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopAllChildOpps_0</name>
        <label>LoopAllChildOpps</label>
        <locationX>453</locationX>
        <locationY>794</locationY>
        <collectionReference>Get_All_Child_Opp_Records_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Value_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HasMoreChildOpps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Child_Opp_Records</name>
        <label>Get All Child Opp Records</label>
        <locationX>530</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAllChildOpps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity_lookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Child_Opp_Records_0</name>
        <label>Get All Child Opp Records from Prev PArent</label>
        <locationX>139</locationX>
        <locationY>766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAllChildOpps_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity_lookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Triggered_Child_Opportunity_Details.Parent_Opportunity_ID_Placeholder__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Details</name>
        <label>Get Parent Details</label>
        <locationX>124</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Removed_from_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Triggered_Child_Opportunity_Details.Parent_Opportunity_lookup__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggered_Child_Opportunity_Details</name>
        <label>Get Triggered Child Opportunity Details</label>
        <locationX>547</locationX>
        <locationY>123</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InitialOppID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent</name>
        <label>Update Parent</label>
        <locationX>884</locationX>
        <locationY>703</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>NullAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Child_Opportunity_Amount__c</field>
            <value>
                <elementReference>AllAmountValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Stage 0 = Need Identified</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_0</name>
        <label>Update Parent</label>
        <locationX>736</locationX>
        <locationY>1144</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Triggered_Child_Opportunity_Details.Parent_Opportunity_ID_Placeholder__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>NullAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Child_Opportunity_Amount__c</field>
            <value>
                <elementReference>AllAmountValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Stage 0 = Need Identified</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_0_0</name>
        <label>Update Parent</label>
        <locationX>223</locationX>
        <locationY>1173</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Triggered_Child_Opportunity_Details.Parent_Opportunity_ID_Placeholder__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Child_Opportunity_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Get_Triggered_Child_Opportunity_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllAmountValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountNumberofOpps</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>InitialOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NullAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
