force-app/main/default/flows/Close_parent_opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_still_open</name>
        <label>Check if still open</label>
        <locationX>1150</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Check_child_opp_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_child_opp_status.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>Yes Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Close_parent_opportunity</name>
        <label>Close parent opportunity?</label>
        <locationX>1194</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Don&apos;t close</defaultConnectorLabel>
        <rules>
            <name>Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirmation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Child_Opp_Records</targetReference>
            </connector>
            <label>Close</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsParentClosed</name>
        <label>IsParentClosed</label>
        <locationX>688</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Close_Parent_Opportuinty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Closed</defaultConnectorLabel>
        <rules>
            <name>YesClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetParentOpps.Close_Parent_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reopen_Parent_Opportuinty</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reopen_parent_opportunity</name>
        <label>Do you want to re-open?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Don&apos;t re-open</defaultConnectorLabel>
        <rules>
            <name>YesReOpen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reopen_Confirmation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ParentOppName</name>
        <dataType>String</dataType>
        <expression>{!$Flow.CurrentRecord}</expression>
    </formulas>
    <formulas>
        <name>ReopenOppsName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!GetParentOpps.Name}, &apos;[PARENT CLOSED]&apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Close parent opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close/Reopen parent opportunity</label>
    <loops>
        <name>Check_child_opp_status</name>
        <label>Check child opp status</label>
        <locationX>930</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Child_Opp_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_still_open</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateParentOpp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Child_Opp_Records</name>
        <label>Get Child Opp Records</label>
        <locationX>930</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_child_opp_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity_lookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetParentOpps</name>
        <label>GetParentOpp</label>
        <locationX>688</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsParentClosed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>[PARENT CLOSED]</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Close_Parent_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ReopenOppsName</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateParentOpp</name>
        <label>UpdateParentOpp</label>
        <locationX>930</locationX>
        <locationY>1274</locationY>
        <faultConnector>
            <targetReference>OppUpdateError</targetReference>
        </faultConnector>
        <filterLogic>1 AND NOT(2)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>[PARENT CLOSED]</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Close_Parent_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>[PARENT CLOSED] {!GetParentOpps.Name}</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <description>Close Parent Opportunity</description>
        <name>Close_Parent_Opportuinty</name>
        <label>Close Parent Opportuinty</label>
        <locationX>1194</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Close_parent_opportunity</targetReference>
        </connector>
        <fields>
            <name>Confirmation_screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;﻿Are you sure you want to close the parent Opportunity?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Please select Yes or No</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1018</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_stop_update_error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(244, 38, 38);&quot;&gt;The Opportunity can not be closed as there are open child opportunities. Please close all associated child opportunities to close this Parent Opportunity&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OppUpdateError</name>
        <label>OppUpdateError</label>
        <locationX>1194</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_OppUpdateErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;An error occurred when updating parent opportunity!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(183, 16, 16);&quot;&gt; {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Reopen Parent Opportunity</description>
        <name>Reopen_Parent_Opportuinty</name>
        <label>Reopen Parent Opportuinty</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reopen_parent_opportunity</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Confirmation_screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;﻿Are you sure you want to re-open the parent Opportunity?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reopen_Confirmation</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Please select Yes or No</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>562</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetParentOpps</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
