force-app/main/default/flows/Create_Retention_Opportunity_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Successfull</name>
        <label>Successfull</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RetenOppEmailNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Retention_Opp_RecordId.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Retention Opportunity Created - {!Get_Retention_Opp_RecordId.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Unsuccessfull</name>
        <label>Unsuccessfull</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>ERROR - Could not create an Opportunity!!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>divya.muvvala@crowncommercial.gov.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>**** UnSuccessfull - Default Path  ***</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Unsuccessfull_0</name>
        <label>Unsuccessfull</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Unsuccessful_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>ERROR - Could not create an Opportunity!!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>divya.muvvala@crowncommercial.gov.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>**** UnSuccessfull - NO Path  ***</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>No_Option</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Opp_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Opp_No</elementReference>
        </value>
    </choices>
    <choices>
        <name>Opp_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Opp_Yes</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes_Option</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <decisions>
        <name>Is_Stage_Closed_Won</name>
        <label>Is Stage Closed Won?</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Unsuccessfull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_Option</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_A_Retention_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_Option</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unsuccessfull_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>This is a flow to create an opportunity retention.</description>
    <formulas>
        <name>RetentionOppStartDate</name>
        <dataType>Date</dataType>
        <expression>{!Get_Opportunity_Id.Contract_Close_Date__c} + 1</expression>
    </formulas>
    <interviewLabel>Create Retention Opportunity Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Retention Opportunity Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_A_Retention_Opportunity</name>
        <label>Create A Retention Opportunity</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Retention_Opp_RecordId</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Opportunity_Id.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Get_Opportunity_Id.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCS_Category__c</field>
            <value>
                <elementReference>Get_Opportunity_Id.CCS_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>RetentionOppStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_from_Legacy_Expired_Agreement__c</field>
            <value>
                <elementReference>Get_Opportunity_Id.Created_from_Legacy_Expired_Agreement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Ref__c</field>
            <value>
                <elementReference>Get_Opportunity_Id.Customer_Ref__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Retention Auto Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Opportunity_Id.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <elementReference>Get_Opportunity_Id.NextStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pillar__c</field>
            <value>
                <elementReference>Get_Opportunity_Id.Pillar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousOpportunity__c</field>
            <value>
                <elementReference>Get_Opportunity_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Framework_Agreement__c</field>
            <value>
                <elementReference>Get_Opportunity_Id.Previous_Framework_Agreement__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Stage 0 = Need Identified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Get_Opportunity_Id.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Id</name>
        <label>Get Opportunity Id</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Stage_Closed_Won</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Retention_Opp_RecordId</name>
        <label>Get Retention Opp RecordId</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Successful_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PreviousOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Has_Retention_Opportunity_field</name>
        <label>Update Has Retention Opportunity field</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Has_a_retention_opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Original_Opportunity</name>
        <label>Update the Original Opportunity</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Successfull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Has_a_retention_opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Successful_Message</name>
        <label>Successful Message</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_the_Original_Opportunity</targetReference>
        </connector>
        <fields>
            <name>SuccessfullyCreatedRetenOpp</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Congratulations, you just made a retention opportunity&lt;/i&gt; - &lt;a href=&quot;https://crowncommercial.lightning.force.com/{!Get_Retention_Opp_RecordId.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Retention_Opp_RecordId.Name}&lt;/a&gt;! &lt;i&gt;Remember to:&amp;nbsp;&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;i&gt;Set the ‘Type’ to ‘Existing Business’&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;Review the stage, framework, description and next steps and complete them appropriately.&amp;nbsp;&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;Review any other details that differ from the previous opportunity.&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Okay</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Unsuccessful_Message</name>
        <label>Unsuccessful Message</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Has_Retention_Opportunity_field</targetReference>
        </connector>
        <fields>
            <name>DoNotCreateRetenOpp</name>
            <fieldText>&lt;p&gt;You selected not to create a retention opportunity!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Okay</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WelcomeScreen</name>
        <label>WelcomeScreen</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Opportunity_Id</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_create_a_RetentionOpportunity</name>
            <choiceReferences>Yes_Option</choiceReferences>
            <choiceReferences>No_Option</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to create a Retention Opportunity?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Okay</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WelcomeScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>RetenOppEmailNotifyBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new retention opportunity {!Get_Retention_Opp_RecordId.Name} has been created in your name.
https://crowncommercial.lightning.force.com/{!Get_Retention_Opp_RecordId.Id}
The start date for this opportunity is {!Get_Retention_Opp_RecordId.CloseDate}. 

This opportunity was created from the original opportunity {!Get_Opportunity_Id.Name} which is now closed won.
https://crowncommercial.lightning.force.com/{!Get_Opportunity_Id.Id}

Thank you</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YES_Opp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
