force-app/main/default/flows/Create_Lead_From_Campaign_Member.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Campaign_Member_is_Contact_or_Lead</name>
        <label>Campaign Member is Contact or Lead</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Create_Lead_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead_Record_0_0</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Campaign_Name</name>
        <label>Check Campaign Name</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_ID.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Existing Contacts with Leads</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_Member_is_Contact_or_Lead</targetReference>
            </connector>
            <label>Yes it is</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Lead From Campaign Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Lead From Campaign Member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Lead_Record_0</name>
        <label>Create Lead Record</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.CompanyOrAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_ID__c</field>
            <value>
                <stringValue>PA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Duplicate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Reason__c</field>
            <value>
                <elementReference>$Record.Lead.Lead_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Need__c</field>
            <value>
                <elementReference>Get_Campaign_ID.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G4L000000ypafUAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__Pardot_Last_Scored_At__c</field>
            <value>
                <elementReference>$Record.Lead.pi__Pardot_Last_Scored_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__campaign__c</field>
            <value>
                <elementReference>Get_Campaign_ID.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__comments__c</field>
            <value>
                <elementReference>$Record.Lead.pi__comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__conversion_date__c</field>
            <value>
                <elementReference>$Record.Lead.pi__conversion_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__conversion_object_name__c</field>
            <value>
                <elementReference>$Record.Lead.pi__conversion_object_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__conversion_object_type__c</field>
            <value>
                <elementReference>$Record.Lead.pi__conversion_object_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__created_date__c</field>
            <value>
                <elementReference>$Record.Lead.pi__created_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__first_activity__c</field>
            <value>
                <elementReference>$Record.Lead.pi__first_activity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__first_search_term__c</field>
            <value>
                <elementReference>$Record.Lead.pi__first_search_term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__first_search_type__c</field>
            <value>
                <elementReference>$Record.Lead.pi__first_search_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__first_touch_url__c</field>
            <value>
                <elementReference>$Record.Lead.pi__first_touch_url__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__grade__c</field>
            <value>
                <elementReference>$Record.Lead.pi__grade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__last_activity__c</field>
            <value>
                <elementReference>$Record.Lead.pi__last_activity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__score__c</field>
            <value>
                <elementReference>$Record.Lead.pi__score__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_Record_0_0</name>
        <label>Create Lead Record</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.CompanyOrAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_ID__c</field>
            <value>
                <stringValue>PA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Duplicate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Reason__c</field>
            <value>
                <elementReference>$Record.Contact.Lead_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Need__c</field>
            <value>
                <elementReference>Get_Campaign_ID.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G4L000000ypafUAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__Pardot_Last_Scored_At__c</field>
            <value>
                <elementReference>$Record.Contact.pi__Pardot_Last_Scored_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__campaign__c</field>
            <value>
                <elementReference>Get_Campaign_ID.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__comments__c</field>
            <value>
                <elementReference>$Record.Contact.pi__comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__conversion_date__c</field>
            <value>
                <elementReference>$Record.Contact.pi__conversion_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__conversion_object_name__c</field>
            <value>
                <elementReference>$Record.Contact.pi__conversion_object_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__conversion_object_type__c</field>
            <value>
                <elementReference>$Record.Contact.pi__conversion_object_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__created_date__c</field>
            <value>
                <elementReference>$Record.Contact.pi__created_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__first_activity__c</field>
            <value>
                <elementReference>$Record.Contact.pi__first_activity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__first_search_term__c</field>
            <value>
                <elementReference>$Record.Contact.pi__first_search_term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__first_search_type__c</field>
            <value>
                <elementReference>$Record.Contact.pi__first_search_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__first_touch_url__c</field>
            <value>
                <elementReference>$Record.Contact.pi__first_touch_url__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__grade__c</field>
            <value>
                <elementReference>$Record.Contact.pi__grade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__last_activity__c</field>
            <value>
                <elementReference>$Record.Contact.pi__last_activity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pi__score__c</field>
            <value>
                <elementReference>$Record.Contact.pi__score__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_ID</name>
        <label>Get Campaign ID</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Campaign_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Campaign_ID</targetReference>
        </connector>
        <object>CampaignMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
