force-app/main/default/flows/Create_Expiry_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send email alert to owner of new expiry opportunity</description>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>446</locationX>
        <locationY>1092</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Opportunity created: Contract Expiry Opportunity - {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ExpiryOppEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_CCS_Contract_Expiry</name>
        <label>Send Email to CCS Contract Expiry</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>CCS_Contract__c.Send_email_to_CCS_Contract_Expire</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>446</locationX>
        <locationY>984</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Expiry_Opp_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Opportunity created: Contract Expiry Opportunity - {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>A new Opportunity: Contract Expiry Opportunity - {!$Record.Name} has been created in your name from a contract which is due to expire in 365 days time.  This has been created to help you manage retention Opportunities and to feed your future pipeline.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <stringValue>{&quot;type&quot;: &quot;standard__objectPage&quot;,&quot;attributes&quot;: {&quot;objectApiName&quot;: &quot;Opportunity&quot;,&quot;actionName&quot;: &quot;list&quot;},&quot;state&quot;:{&quot;filterName&quot;:&quot;MyOpportunities&quot;}}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Get_Contract_Owner_ID</name>
        <label>Get Contract Owner ID</label>
        <locationX>446</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>OwnerID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Customer__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Contract_has_Framework</name>
        <label>Check if Contract has Framework</label>
        <locationX>446</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Create_Opp_With_Framework</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Framework</defaultConnectorLabel>
        <rules>
            <name>No_Framework</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Master_Framework_Title__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opp_No_Framework</targetReference>
            </connector>
            <label>No Framework</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_CCS_or_Procurement</name>
        <label>is CCS or Procurement</label>
        <locationX>578</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_CCS</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012b00000001BgvAAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crown Commercial Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Effective_End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>daystoExpiryDateof90</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Contact__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_CCS_Contract_Expiry</targetReference>
            </connector>
            <label>is CCS</label>
        </rules>
        <rules>
            <name>is_Procurement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012b00000001BgwAAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Crown Commercial Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Procurement_Contract_Checks</targetReference>
            </connector>
            <label>is Procurement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Procurement_Contract_Checks</name>
        <label>Procurement Contract Checks</label>
        <locationX>644</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Procurement_Contract_next_steps</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Next_Steps__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>﻿Option to extend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Next_Steps__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Potential to replace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expiry_Alert_Due__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Contract_has_Framework</targetReference>
            </connector>
            <label>Procurement Contract next steps</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>daystoExpiryDateof90</name>
        <dataType>Date</dataType>
        <expression>TODAY()+90</expression>
    </formulas>
    <interviewLabel>Create Expiry Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Expiry Opportunities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opp_No_Framework</name>
        <label>Create Opp (No Framework)</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <assignRecordIdToReference>OppID</assignRecordIdToReference>
        <connector>
            <targetReference>Expiry_Opp_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Expiry_Opp_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_from_Legacy_Expired_Agreement__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Retention Auto Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Contract Expiry Opportunity - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <stringValue>Contract Expiry Auto Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Customer__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Stage 0 = Need Identified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Existing Business</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp_With_Framework</name>
        <label>Create Opp (With Framework)</label>
        <locationX>578</locationX>
        <locationY>576</locationY>
        <assignRecordIdToReference>OppID</assignRecordIdToReference>
        <connector>
            <targetReference>Expiry_Opp_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Expiry_Opp_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_from_Legacy_Expired_Agreement__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Retention Auto Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Contract Expiry Opportunity - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <stringValue>Contract Expiry Auto Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Customer__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Framework_Agreement__c</field>
            <value>
                <elementReference>$Record.Supplier_Framework_Lot__r.Master_Framework_Lot__r.Master_Framework__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Stage 0 = Need Identified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Existing Business</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Expiry_Opp_Notification</name>
        <label>Expiry Opp Notification</label>
        <locationX>446</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contract_Owner_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Expiry_Opportunity_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_CCS_or_Procurement</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012b00000001BgvAAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012b00000001BgwAAE</stringValue>
            </value>
        </filters>
        <object>CCS_Contract__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-18</startDate>
            <startTime>23:55:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ExpiryOppEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Hi {!$Record.Customer__r.Owner.Full_Name__c},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;A new Opportunity: Contract Expiry Opportunity - {!$Record.Name} has been created in your name from a contract which is due to expire in 365 days time.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;This has been created to help you manage retention Opportunities and to feed your future pipeline. Please work with the relevant Category team to retain this business.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Please now treat this Opportunity as you would any other and progress it according to the Opportunity process.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;This opportunity has been created from a contract that previously had an Assisted Service. Please engage Proc Ops for the Assisted Service as early as possible if the customer requires it, in order to enable the resource capacity to be considered.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;https://crowncommercial.lightning.force.com/{!OppID}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Thank you&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>OppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
