force-app/main/default/flows/Create_OAV_Breakdown.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Formulas_to_Variables</name>
        <label>Assign Formulas to Variables</label>
        <locationX>242</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>FirstFullFY_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextFYDate_FlowCalculated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Annual_Values_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CollectionElement</name>
        <label>CollectionElement</label>
        <locationX>1774</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>CollectionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OAVRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetCountandYear</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DateAndCountAssigment</name>
        <label>DateAndCountAssigment</label>
        <locationX>1752</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_Of_full_FY_Flow_Calculated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstFullFYDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextFYDate_FlowCalculated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RecordAssigment</name>
        <label>RecordAssigment</label>
        <locationX>1465</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>OAVRecordVar.Annual_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FullFYAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OAVRecordVar.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginalOppID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OAVRecordVar.Financial_Year_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstFullFY_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollectionElement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCountandYear</name>
        <label>SetCountandYear</label>
        <locationX>1792</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstFullFY_Var</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>365.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Annual_Values_Exist</name>
        <label>Annual Values Exist?</label>
        <locationX>654</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_OppAnnualValues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityVar.Count_of_OAV_Records__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityVar.Amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityVar.Contract_Close_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetExistingRecords</targetReference>
            </connector>
            <label>Yes - OppAnnualValues</label>
        </rules>
        <rules>
            <name>Main_3_field_Blank</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityVar.Contract_Close_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityVar.Amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityVar.Count_of_OAV_Records__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetExistingRecords_0</targetReference>
            </connector>
            <label>Main 3 field Blank?</label>
        </rules>
        <rules>
            <name>Mandatory_Fields_Are_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityVar.Amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityVar.CloseDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityVar.Contract_Close_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateFirstYear</targetReference>
            </connector>
            <label>Mandatory Fields Are Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Value_Ownership</name>
        <label>check Value Ownership</label>
        <locationX>512</locationX>
        <locationY>104</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Value_Ownsership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityVar.Value_Ownership__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Formulas_to_Variables</targetReference>
            </connector>
            <label>No - Value Ownsership</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_0</name>
        <label>Count&gt;0</label>
        <locationX>1478</locationX>
        <locationY>380</locationY>
        <defaultConnector>
            <targetReference>CreatefullYRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordAssigment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>LAstFyRecordToBeCreated</name>
        <label>LAstFyRecordToBeCreated</label>
        <locationX>1330</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>DateAndCountAssigment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Number_of_Months_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Months_In_The_Last_FY_Flow_Calculated</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateLastYear</targetReference>
            </connector>
            <label>Number of Months&gt;0</label>
        </rules>
    </decisions>
    <description>New Variables to be populated from PBuilder
As per US-1225 - edit NextFYDate_FlowCalculated</description>
    <environments>Default</environments>
    <formulas>
        <name>FirstYearValueFormula</name>
        <dataType>Currency</dataType>
        <expression>IF({!FirstFY_ProcessBuilder} = {!LastFY_ProcessBuilder},{!OpportunityVar.Amount},

{!Months_In_Current_FY_ProcessBuilder}*{!Opportunity_MAValue})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FullFYAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Opportunity_MAValue}*12</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LastYearValueFormula</name>
        <dataType>Currency</dataType>
        <expression>{!Months_In_The_Last_FY_Flow_Calculated}*{!Opportunity_MAValue}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Months_In_The_Last_FY_Flow_Calculated</name>
        <dataType>Number</dataType>
        <expression>IF( {!FirstFY_ProcessBuilder}= {!LastFY_ProcessBuilder},0,

CASE(MONTH( {!OpportunityVar.Contract_Close_Date__c}),
4,1,
5,2,
6,3,
7,4,
8,5,
9,6,
10,7,
11,8,
12,9,
1,10,
2,11,
12))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NextFYDate_FlowCalculated</name>
        <dataType>Date</dataType>
        <expression>IF (OR( 
  MOD( YEAR( {!FirstFY_ProcessBuilder} ), 400 ) = 0, 
  AND( 
   MOD( YEAR( {!FirstFY_ProcessBuilder} ), 4 ) = 0,
    MOD( YEAR( {!FirstFY_ProcessBuilder} ), 100 ) != 0
  )
), {!FirstFY_ProcessBuilder}  +365,

IF(OR( 
  MOD( YEAR( {!FirstFY_ProcessBuilder} )-1, 400 ) = 0, 
  AND( 
   MOD( YEAR( {!FirstFY_ProcessBuilder} )-1, 4 ) = 0,
    MOD( YEAR( {!FirstFY_ProcessBuilder} )-1, 100 ) != 0
  )
),{!FirstFY_ProcessBuilder}  +365,

IF(OR( 
  MOD( YEAR( {!FirstFY_ProcessBuilder} )-2, 400 ) = 0, 
  AND( 
   MOD( YEAR( {!FirstFY_ProcessBuilder} )-2, 4 ) = 0,
    MOD( YEAR( {!FirstFY_ProcessBuilder} )-2, 100 ) != 0
  )
),{!FirstFY_ProcessBuilder}  +365,
        {!FirstFY_ProcessBuilder}  +366)))</expression>
    </formulas>
    <formulas>
        <name>Number_Of_full_FY_Flow_Calculated</name>
        <dataType>Number</dataType>
        <expression>({!Duration_ProcessBuilder} - {!Months_In_Current_FY_ProcessBuilder}- {!Months_In_The_Last_FY_Flow_Calculated})/12</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Opportunity_MAValue</name>
        <dataType>Currency</dataType>
        <expression>{!OpportunityVar.Amount}/  (  {!Months_In_Current_FY_ProcessBuilder}  +  {!Months_In_The_Last_FY_Flow_Calculated}  +12*  {!Number_Of_full_FY_Flow_Calculated})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create OAV Breakdown {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create OAV Breakdown</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateFirstYear</name>
        <label>CreateFirstYear</label>
        <locationX>1007</locationX>
        <locationY>79</locationY>
        <connector>
            <targetReference>LAstFyRecordToBeCreated</targetReference>
        </connector>
        <inputAssignments>
            <field>Annual_Value__c</field>
            <value>
                <elementReference>FirstYearValueFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Year_Date__c</field>
            <value>
                <elementReference>FirstFY_ProcessBuilder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityVar.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Annual_Value__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreatefullYRecords</name>
        <label>CreatefullYRecords</label>
        <locationX>1216</locationX>
        <locationY>452</locationY>
        <inputReference>CollectionVariable</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateLastYear</name>
        <label>CreateLastYear</label>
        <locationX>1330</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>DateAndCountAssigment</targetReference>
        </connector>
        <inputAssignments>
            <field>Annual_Value__c</field>
            <value>
                <elementReference>LastYearValueFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Year_Date__c</field>
            <value>
                <elementReference>LastFY_ProcessBuilder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityVar.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Annual_Value__c</object>
    </recordCreates>
    <recordDeletes>
        <name>DeleteExisitngOppAVRecords</name>
        <label>DeleteExisitngOppAVRecords</label>
        <locationX>982</locationX>
        <locationY>516</locationY>
        <connector>
            <targetReference>CreateFirstYear</targetReference>
        </connector>
        <inputReference>ExistingOAVRecords</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteExisitngOppAVRecords_0</name>
        <label>DeleteExisitngOppAVRecords</label>
        <locationX>608</locationX>
        <locationY>653</locationY>
        <inputReference>ExistingOAVRecords</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetExistingRecords</name>
        <label>GetExistingRecords</label>
        <locationX>668</locationX>
        <locationY>517</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeleteExisitngOppAVRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginalOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity_Annual_Value__c</object>
        <outputReference>ExistingOAVRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetExistingRecords_0</name>
        <label>GetExistingRecords</label>
        <locationX>474</locationX>
        <locationY>560</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeleteExisitngOppAVRecords_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginalOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity_Annual_Value__c</object>
        <outputReference>ExistingOAVRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>OpportunityVar</name>
        <label>OpportunityVar</label>
        <locationX>681</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Value_Ownership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginalOppID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Count_of_OAV_Records__c</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>Contract_Close_Date__c</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Value_Ownership__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>15</locationY>
        <connector>
            <targetReference>OpportunityVar</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Annual_Value__c</objectType>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Duration_ProcessBuilder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>17</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ExistingOAVRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Annual_Value__c</objectType>
    </variables>
    <variables>
        <name>FirstFullFY_Var</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstFullFYDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstFY_ProcessBuilder</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LastFY_ProcessBuilder</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Months_In_Current_FY_ProcessBuilder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OAVRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Annual_Value__c</objectType>
    </variables>
    <variables>
        <name>OriginalOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
