force-app/main/default/flows/CRP_Tracking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>CRP_Expired</name>
        <label>CRP Expired?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Not Expired</defaultConnectorLabel>
        <rules>
            <name>Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRP_Expiry_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CRP_Previous_Year_Values</targetReference>
            </connector>
            <label>Expired</label>
        </rules>
    </decisions>
    <description>This flow would store CRP values for the previous year when the CRP expiry is reached.</description>
    <environments>Default</environments>
    <interviewLabel>CRP Tra {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRP Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Empty_Current_Year_Values</name>
        <label>Empty Current Year Values</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Current_CRP_Start_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Scope_1_CO2e__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Scope_2_CO2e__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Scope_3_CO2e__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CRP_Previous_Year_Values</name>
        <label>Update CRP Previous Year Values</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Empty_Current_Year_Values</targetReference>
        </connector>
        <inputAssignments>
            <field>Previous_CRP_End_Date__c</field>
            <value>
                <elementReference>$Record.Current_CRP_EndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_CRP_Start_Date__c</field>
            <value>
                <elementReference>$Record.Current_CRP_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Scope_1_CO2e__c</field>
            <value>
                <elementReference>$Record.Current_Scope_1_CO2e__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Scope_2_CO2e__c</field>
            <value>
                <elementReference>$Record.Current_Scope_2_CO2e__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Scope_3_CO2e__c</field>
            <value>
                <elementReference>$Record.Current_Scope_3_CO2e__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CRP_Expired</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_CRP_EndDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-06-29</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
