force-app/main/default/flows/Email_Opp_Members_about_Expiring_Frameworks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Send_email_to_Opportunity_Team_that_the_Framework_may_expire_before_the_Opp_Star</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Send Notification</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Send_email_to_Opportunity_Team_that_the_Framework_may_expire_before_the_Opp_Star</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Send_email_to_Opportunity_Team_that_the_Framework_may_expire_before_the_Opp_Star</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Send Notification</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Send_email_to_Opportunity_Team_that_the_Framework_may_expire_before_the_Opp_Star</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Original Date &lt; StartDate</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>NewDate&lt;Start Date</label>
        </rules>
    </decisions>
    <description>When a user links a framework to an opportunity, it checks if the opp will close after the end date of the framework.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNULL([Opportunity].Framework_Agreement_Original_End_Date__c )=FALSE,
[Opportunity].Framework_Agreement_Original_End_Date__c &lt;[Opportunity].CloseDate ,
ISNULL([Opportunity].Framework_Agreement_New_End_Date__c )=TRUE,
OR(ISNEW(), ISCHANGED([Opportunity].Framework_Agreement__c )))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNULL({!myVariable_current.Framework_Agreement_Original_End_Date__c} )=FALSE,
{!myVariable_current.Framework_Agreement_Original_End_Date__c} &lt;{!myVariable_current.CloseDate} ,
ISNULL({!myVariable_current.Framework_Agreement_New_End_Date__c} )=TRUE,
OR(ISNEW(), ISCHANGED({!myVariable_current.Framework_Agreement__c} )))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Opportunity].Framework_Agreement_New_End_Date__c &lt; [Opportunity].CloseDate ,
OR(ISNEW(), ISCHANGED([Opportunity].Framework_Agreement__c )))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_current.Framework_Agreement_New_End_Date__c} &lt; {!myVariable_current.CloseDate} ,
OR(ISNEW(), ISCHANGED({!myVariable_current.Framework_Agreement__c} )))</expression>
    </formulas>
    <interviewLabel>Email_Opp_Members_about_Expiring_Frameworks-1_InterviewLabel</interviewLabel>
    <label>Email Opp Members about Expiring Frameworks</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
