force-app/main/default/flows/Issue_NPS_Survey_not_not.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Post_Waiting_to_send_survey</name>
        <label>Chatter Post - Waiting to send survey</label>
        <locationX>390</locationX>
        <locationY>1234</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Wait_1_hour</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>SObject_TheCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Waiting one hour to send Customer Satisfaction survey</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Survey_email_to_Enquiry_or_Tech_Support</name>
        <label>Send Survey email to Enquiry or Tech_Support</label>
        <locationX>571</locationX>
        <locationY>1396</locationY>
        <actionName>Case.Send_Feedback_Request2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assign_Survey_Issued_Survey_Issued_Date_and_Survey_Pending</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>TheCaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Survey_Email_to_Procurement</name>
        <label>Send Survey Email to Procurement</label>
        <locationX>1124</locationX>
        <locationY>585</locationY>
        <actionName>Case.Case_Send_Survey_after_a_Procurement_is_Completed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Fatigue_Until_Date_on_Contact_after_Procurement_survey</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>TheCaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Fatigue_Until_Date_on_Contact</name>
        <label>Assign Fatigue Until Date on Contact</label>
        <locationX>565</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>SObject_TheContact.Survey_Fatigue_Until__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAYplus30</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Survey_Pending_on_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Issued_Survey_Issued_Date_and_Survey_Pending</name>
        <label>Assign Survey Issued, Survey Issued Date and Survey Pending</label>
        <locationX>571</locationX>
        <locationY>1509</locationY>
        <assignmentItems>
            <assignToReference>SObject_TheCase.Survey_Issued__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_TheCase.Survey_Issued_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_TheCase.Survey_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enquiry_and_Tech_Support_Case_after_Survey_sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Pending_on_Case</name>
        <label>Assign Survey Pending on Case</label>
        <locationX>568</locationX>
        <locationY>979</locationY>
        <assignmentItems>
            <assignToReference>SObject_TheCase.Survey_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Fatigue_Contact_before_1_hour_wait</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Survey_Exempt_due_to_Contact_Opt_out</name>
        <label>Survey Exempt due to Contact Opt-out</label>
        <locationX>251</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>SObject_TheCase.Survey_Exempt_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact opted-out of NPS surveys</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_TheCase.Survey_Exempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Exempt_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Survey_Exempt_due_to_Current_User_not_sending_Enquiry_Surveys</name>
        <label>Survey Exempt due to Current User not sending Enquiry Surveys</label>
        <locationX>35</locationX>
        <locationY>577</locationY>
        <assignmentItems>
            <assignToReference>SObject_TheCase.Survey_Exempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_TheCase.Survey_Exempt_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>User did not trigger post-Enquiry Surveys</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Exempt_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Survey_Exempt_due_to_Fatigue</name>
        <label>Survey Exempt due to Fatigue</label>
        <locationX>209</locationX>
        <locationY>578</locationY>
        <assignmentItems>
            <assignToReference>SObject_TheCase.Survey_Exempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_TheCase.Survey_Exempt_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fatigue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Exempt_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Survey_Exempt_due_to_no_Email_address</name>
        <label>Survey Exempt due to no Email address</label>
        <locationX>256</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>SObject_TheCase.Survey_Exempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_TheCase.Survey_Exempt_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact has no Email address</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Exempt_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Fatigue_Until_Date_on_Contact_after_Procurement_survey</name>
        <label>Update Fatigue Until Date on Contact after Procurement survey</label>
        <locationX>1128</locationX>
        <locationY>704</locationY>
        <assignmentItems>
            <assignToReference>SObject_TheContact.Survey_Fatigue_Until__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAYplus30</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_after_Procurement_survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Survey_Issued_field_and_date</name>
        <label>Update Survey Issued field and date</label>
        <locationX>1136</locationX>
        <locationY>953</locationY>
        <assignmentItems>
            <assignToReference>SObject_TheCase.Survey_Issued__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_TheCase.Survey_Issued_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Procurement</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_the_Contact_have_Email_Address</name>
        <label>Does the Contact have Email Address?</label>
        <locationX>536</locationX>
        <locationY>439</locationY>
        <defaultConnector>
            <targetReference>Survey_Exempt_due_to_no_Email_address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has no email address</defaultConnectorLabel>
        <rules>
            <name>Has_an_email_address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject_TheCase.ContactEmail</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>What_type_of_Case</targetReference>
            </connector>
            <label>Has an email address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Current_User_send_Surveys</name>
        <label>Does the Current User send Surveys?</label>
        <locationX>35</locationX>
        <locationY>771</locationY>
        <defaultConnector>
            <targetReference>Survey_Exempt_due_to_Current_User_not_sending_Enquiry_Surveys</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject_TheCurrentUser.Send_Enquiry_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_Contact_Fatigued</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_the_Contact_opted_out_of_NPS_Surveys</name>
        <label>Has the Contact opted-out of NPS Surveys?</label>
        <locationX>534</locationX>
        <locationY>327</locationY>
        <defaultConnector>
            <targetReference>Does_the_Contact_have_Email_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Opted-out</defaultConnectorLabel>
        <rules>
            <name>Opted_out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject_TheContact.Do_Not_Send_NPS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Exempt_due_to_Contact_Opt_out</targetReference>
            </connector>
            <label>Opted-out</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Contact_Fatigued</name>
        <label>Is the Contact Fatigued?</label>
        <locationX>564</locationX>
        <locationY>773</locationY>
        <defaultConnector>
            <targetReference>Assign_Fatigue_Until_Date_on_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Fatigued</defaultConnectorLabel>
        <rules>
            <name>Fatigued</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject_TheContact.Survey_Fatigue_Until__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Exempt_due_to_Fatigue</targetReference>
            </connector>
            <label>Fatigued</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of_Case</name>
        <label>What type of Case?</label>
        <locationX>542</locationX>
        <locationY>582</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Procurement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject_TheCase.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Procurement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Survey_Email_to_Procurement</targetReference>
            </connector>
            <label>Procurement</label>
        </rules>
        <rules>
            <name>Enquiry</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SObject_TheCase.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_Current_User_send_Surveys</targetReference>
            </connector>
            <label>Enquiry</label>
        </rules>
        <rules>
            <name>Tech_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject_TheCase.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_Contact_Fatigued</targetReference>
            </connector>
            <label>Tech Support</label>
        </rules>
    </decisions>
    <description>US0602. This Flow is launched by the Process &apos;Issue NPS Surveys and Progress Procurement Stages&apos;. 

The Flow checks various conditions for whether a post-case survey should be sent or not; and then either sends the email or records the reason why not.</description>
    <formulas>
        <name>TODAYplus30</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <interviewLabel>Issue NPS Survey (not not) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Issue NPS Survey (or not)</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_the_Case</name>
        <label>Get the Case</label>
        <locationX>531</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TheCaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>SObject_TheCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Survey_Exempt__c</queriedFields>
        <queriedFields>Survey_Exempt_Reason__c</queriedFields>
        <queriedFields>Survey_Issued__c</queriedFields>
        <queriedFields>Survey_Issued_Date__c</queriedFields>
        <queriedFields>Case_Type__c</queriedFields>
        <queriedFields>ContactEmail</queriedFields>
        <queriedFields>Survey_Pending__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Contact</name>
        <label>Get the Contact</label>
        <locationX>532</locationX>
        <locationY>118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_Current_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TheContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>SObject_TheContact</outputReference>
        <queriedFields>Survey_Fatigue_Until__c</queriedFields>
        <queriedFields>Do_Not_Send_NPS__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Current_User</name>
        <label>Get the Current User</label>
        <locationX>531</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_the_Contact_opted_out_of_NPS_Surveys</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TheCurrentUserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>SObject_TheCurrentUser</outputReference>
        <queriedFields>Send_Enquiry_Survey__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_after_Procurement_survey</name>
        <label>Update Contact after Procurement survey</label>
        <locationX>1130</locationX>
        <locationY>827</locationY>
        <connector>
            <targetReference>Update_Survey_Issued_field_and_date</targetReference>
        </connector>
        <inputReference>SObject_TheContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Enquiry_and_Tech_Support_Case_after_Survey_sent</name>
        <label>Update Enquiry and Tech Support Case after Survey sent</label>
        <locationX>773</locationX>
        <locationY>1506</locationY>
        <inputReference>SObject_TheCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Exempt_Case</name>
        <label>Update Exempt Case</label>
        <locationX>31</locationX>
        <locationY>381</locationY>
        <inputReference>SObject_TheCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fatigue_Contact_before_1_hour_wait</name>
        <label>Update (Fatigue) Contact before 1 hour wait</label>
        <locationX>573</locationX>
        <locationY>1089</locationY>
        <connector>
            <targetReference>Update_Pending_Survey_before_1_hour_wait</targetReference>
        </connector>
        <inputReference>SObject_TheContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pending_Survey_before_1_hour_wait</name>
        <label>Update (Pending) Survey before 1 hour wait</label>
        <locationX>570</locationX>
        <locationY>1173</locationY>
        <connector>
            <targetReference>Chatter_Post_Waiting_to_send_survey</targetReference>
        </connector>
        <inputReference>SObject_TheCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Procurement</name>
        <label>Update Procurement</label>
        <locationX>1140</locationX>
        <locationY>1081</locationY>
        <inputReference>SObject_TheCase</inputReference>
    </recordUpdates>
    <startElementReference>Get_the_Case</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>chatterposttemplate1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Case = {!SObject_TheCase}

Contact = {!SObject_TheContact}

Contact Do Not Send NPS = {!SObject_TheContact.Do_Not_Send_NPS__c}

Contact Fatigue Until Date = {!SObject_TheContact.Survey_Fatigue_Until__c}

Case Type = {!SObject_TheCase.Case_Type__c}

Current User = {!SObject_TheCurrentUser}

Current User Send Enquiry Survey = {!SObject_TheCurrentUser.Send_Enquiry_Survey__c}</text>
    </textTemplates>
    <variables>
        <name>SObject_TheCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SObject_TheContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SObject_TheCurrentUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>TheCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TheContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TheCurrentUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_1_hour</name>
        <label>Wait 1 hour</label>
        <locationX>570</locationX>
        <locationY>1280</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_1_hour_Event</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Send_Survey_email_to_Enquiry_or_Tech_Support</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <label>Wait 1 hour Event</label>
        </waitEvents>
    </waits>
</Flow>
