force-app/main/default/flows/Move_Cases_to_Correct_Org.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Case_to_Org</name>
        <label>Add Case to Org</label>
        <locationX>494</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>MoveCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loops_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Move_Case</name>
        <label>Move Case</label>
        <locationX>582</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_to_Org</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Need_to_be_moved</name>
        <label>Need to be moved?</label>
        <locationX>569</locationX>
        <locationY>65</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Contact.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When a Contact is moved from the Temp Portal Org, this Flow will move all the Cases associated with that old Org to the Contacts newly assigned Org.</description>
    <interviewLabel>Move Cases to Correct Org {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Move Cases to Correct Org</label>
    <loops>
        <name>Loops_Cases</name>
        <label>Loops Cases</label>
        <locationX>339</locationX>
        <locationY>209</locationY>
        <assignNextValueToReference>Case</assignNextValueToReference>
        <collectionReference>Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Need_to_be_moved</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cases</name>
        <label>Get Cases</label>
        <locationX>106</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loops_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Cases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>107</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cases</name>
        <label>Update Cases</label>
        <locationX>104</locationX>
        <locationY>369</locationY>
        <inputReference>MoveCases</inputReference>
    </recordUpdates>
    <startElementReference>Get_Contact</startElementReference>
    <status>Active</status>
    <variables>
        <description>Hold details of a particular Case during out iteration.</description>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Iterate through and store all Cases related to the Contact being moved.</description>
        <name>Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Holds the Contact record for the duration of the Flow.</description>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Holds the ID of the Contact that&apos;s being moved from the Temp Portal Org to another Org.</description>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MoveCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
