force-app/main/default/flows/Prevent_DUNS_duplicates_for_same_type_orgs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Tick_DUNS_Duplicate_Checkbox</name>
        <label>Tick DUNS Duplicate Checkbox</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.DUNS_Duplicate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Untick_DUNS_Duplicate_Checkbox</name>
        <label>Untick DUNS Duplicate Checkbox</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.DUNS_Duplicate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Org_with_same_DUNS_and_Type_found</name>
        <label>Org with same DUNS and Type found?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Untick_DUNS_Duplicate_Checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No DUNS matches found</defaultConnectorLabel>
        <rules>
            <name>Duplicate_DUNS_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_of_same_type_with_matching_DUNS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tick_DUNS_Duplicate_Checkbox</targetReference>
            </connector>
            <label>Duplicate DUNS found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prevent DUNS duplicates for same type orgs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prevent DUNS duplicates for same type orgs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Records_of_same_type_with_matching_DUNS</name>
        <label>Get Records of same type with matching DUNS</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Org_with_same_DUNS_and_Type_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>DUNS_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DUNS_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records_of_same_type_with_matching_DUNS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DUNS_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
