force-app/main/default/flows/Re_Open_Closed_Case_Flow_SObject_method.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_re_assigned_to_Queue</name>
        <label>Case re-assigned to Queue</label>
        <locationX>942</locationX>
        <locationY>603</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>What_type_of_Case</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>TheCaseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>The case has been re-assigned to a queue because the former owner is now an inactive user on Salesforce</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>The_flow_has_started</name>
        <label>The flow has started</label>
        <locationX>178</locationX>
        <locationY>120</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Is_the_Case_Owner_a_Queue_or_a_User</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>TheCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>The flow has started</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Chatter_with_Case_re_open_reason</name>
        <label>Update Chatter with Case re-open reason</label>
        <locationX>327</locationX>
        <locationY>812</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>TheCaseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Case re-opened by an inbound email</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Fields_Enquiry_HR_Enquiry_G_A_Enquiry</name>
        <label>Assign Fields - Enquiry, HR Enquiry, G&amp;A Enquiry</label>
        <locationX>568</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>TheCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheCase.Re_open_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inbound email to closed case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatetheCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_fields_Procurement_Contract_Amendment</name>
        <label>Assign fields - Procurement, Contract Amendment</label>
        <locationX>130</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>TheCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheCase.Re_open_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inbound email to closed case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatetheCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fields_Tech_Support</name>
        <label>Assign Fields - Tech Support</label>
        <locationX>340</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>TheCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheCase.Re_open_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inbound email to closed case</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheCase.HD_Workflow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow-Up</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatetheCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Re_assign_to_A_I_queue</name>
        <label>Re-assign to A&amp;I queue</label>
        <locationX>1249</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>TheCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00Gb00000031MnY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_re_assigned_to_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Re_assign_to_CSC_Queue</name>
        <label>Re-assign to CSC Queue</label>
        <locationX>1085</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>TheCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00Gb00000031LU9</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_re_assigned_to_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Re_assign_to_CSC_Tech_Support_Queue</name>
        <label>Re-assign to CSC Tech Support Queue</label>
        <locationX>1389</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>TheCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00Gb0000000FtOY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_re_assigned_to_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Re_assign_to_G_A_Queue</name>
        <label>Re-assign to G&amp;A Queue</label>
        <locationX>1686</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>TheCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G0N000005CvvS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_re_assigned_to_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Re_assign_to_HR_Queue</name>
        <label>Re-assign to HR Queue</label>
        <locationX>1537</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>TheCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00Gb0000003LPXe</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_re_assigned_to_Queue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_the_Case_Owner_a_Queue_or_a_User</name>
        <label>Is the Case Owner a Queue or a User?</label>
        <locationX>396</locationX>
        <locationY>193</locationY>
        <defaultConnectorLabel>Neither?</defaultConnectorLabel>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TheCase.Owner_is_a_Queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_type_of_Case</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
        <rules>
            <name>User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TheCase.Owner_is_an_Active_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TheCase.Owner_is_an_Inactive_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsOwnerActiveorInactive</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsOwnerActiveorInactive</name>
        <label>IsOwnerActiveorInactive?</label>
        <locationX>720</locationX>
        <locationY>261</locationY>
        <defaultConnectorLabel>Neither?</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TheCase.Owner_is_an_Active_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_type_of_Case</targetReference>
            </connector>
            <label>Active</label>
        </rules>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TheCase.Owner_is_an_Inactive_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_type_of_case_is_it</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of_Case</name>
        <label>What type of Case?</label>
        <locationX>395</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Not Known</defaultConnectorLabel>
        <rules>
            <name>Procurement_or_Contract_Amendment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TheCase.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Procurement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TheCase.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_fields_Procurement_Contract_Amendment</targetReference>
            </connector>
            <label>Procurement or Contract Amendment</label>
        </rules>
        <rules>
            <name>Enquiry_HR_Enquiry_or_G_A_Enquiry</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TheCase.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TheCase.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HR Enquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TheCase.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>G&amp;A Enquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields_Enquiry_HR_Enquiry_G_A_Enquiry</targetReference>
            </connector>
            <label>Enquiry, HR Enquiry or G&amp;A Enquiry</label>
        </rules>
        <rules>
            <name>Tech_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TheCase.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields_Tech_Support</targetReference>
            </connector>
            <label>Tech Support</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of_case_is_it</name>
        <label>What type of case is it?</label>
        <locationX>1517</locationX>
        <locationY>188</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Procurement_Enquiry_Contract_Amendment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TheCase.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Procurement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TheCase.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TheCase.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Re_assign_to_CSC_Queue</targetReference>
            </connector>
            <label>Procurement, Enquiry, Contract Amendment</label>
        </rules>
        <rules>
            <name>A_I_Tech_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TheCase.HD_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applications &amp; Infrastructure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TheCase.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Re_assign_to_A_I_queue</targetReference>
            </connector>
            <label>A&amp;I Tech Support</label>
        </rules>
        <rules>
            <name>CSC_Tech_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TheCase.HD_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technology Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TheCase.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Re_assign_to_CSC_Tech_Support_Queue</targetReference>
            </connector>
            <label>CSC Tech Support</label>
        </rules>
        <rules>
            <name>HR_Enquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TheCase.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HR Enquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Re_assign_to_HR_Queue</targetReference>
            </connector>
            <label>HR Enquiry</label>
        </rules>
        <rules>
            <name>GA_Enquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TheCase.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>G&amp;A Enquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Re_assign_to_G_A_Queue</targetReference>
            </connector>
            <label>G&amp;A Enquiry</label>
        </rules>
    </decisions>
    <description>Uses Case stored as an SObject, rather than looking-up CaseID each time.</description>
    <interviewLabel>Re-Open Closed Case Flow (SObject method) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Re-Open Closed Case Flow (SObject method)</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GettheCase</name>
        <label>GettheCase</label>
        <locationX>388</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>The_flow_has_started</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TheCaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>TheCase</outputReference>
        <queriedFields>Case_Type__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>HD_Team__c</queriedFields>
        <queriedFields>HD_Workflow__c</queriedFields>
        <queriedFields>Re_open_Reason__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Owner_is_a_Queue__c</queriedFields>
        <queriedFields>Owner_is_an_Active_User__c</queriedFields>
        <queriedFields>Owner_is_an_Inactive_User__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdatetheCaseRecord</name>
        <label>UpdatetheCaseRecord</label>
        <locationX>325</locationX>
        <locationY>696</locationY>
        <connector>
            <targetReference>Update_Chatter_with_Case_re_open_reason</targetReference>
        </connector>
        <inputReference>TheCase</inputReference>
    </recordUpdates>
    <startElementReference>GettheCase</startElementReference>
    <status>Active</status>
    <variables>
        <name>TheCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>TheCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Variable_CaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Variable_OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Variable_OwnerisanActiveUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Variable_OwnerisanInactiveUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Variable_OwnerisaQueue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Variable_RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Variable_Technology_Team</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
