force-app/main/default/flows/SAM_to_Non_SAM_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AddContactsToUpdateList</name>
        <label>AddContactsToUpdateList</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ContactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopContactList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopContactList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmptySAMValue</name>
        <label>EmptySAMValue</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>LoopContactList.SAM_Contact__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AddContactsToUpdateList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ChangedToNonSAM</name>
        <label>ChangedToNonSAM?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_NonSAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Organisation_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organisation_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRelatedContacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow will look for all the strategic and operational contact within an organisation and then revert it to general contact when an organisation is converted to non SAM from SAM</description>
    <environments>Default</environments>
    <interviewLabel>SAM to Non SAM Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SAM to Non SAM Update</label>
    <loops>
        <name>LoopContactList</name>
        <label>LoopContactList</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>getRelatedContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>EmptySAMValue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateContacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRelatedContacts</name>
        <label>getRelatedContacts</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopContactList</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SAM_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Operational</stringValue>
            </value>
        </filters>
        <filters>
            <field>SAM_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Strategic</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContacts</name>
        <label>UpdateContacts</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputReference>ContactsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ChangedToNonSAM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Organisation_Tier__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
