force-app/main/default/flows/SAM_Fin_Summary_Auto_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Current_Year</name>
        <label>Assign Current Year</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>varCurrentYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStartYear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fin_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Fin_Summary_Record</name>
        <label>Create Fin Summary Record</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinSummary.Financial_year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFormatedYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinSummary.SAM_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varFinSummary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentYear</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Fin_Summary</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Fin_Summary</name>
        <label>Create Fin Summary?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Insert_FinSummary_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCounter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varNumberToCreate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Fin_Summary_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varFormatedYear</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT({!varCurrentYear}), &apos;,&apos;,&apos;&apos; )&amp;&apos;/&apos;&amp;RIGHT(TEXT({!varCurrentYear}+1),2)</expression>
    </formulas>
    <formulas>
        <name>varStartYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Flow.CurrentDate})-2</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SAM Fin Summary Auto Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SAM Fin Summary Auto Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_FinSummary_Records</name>
        <label>Insert FinSummary Records</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputReference>varFinSummaries</inputReference>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Current_Year</targetReference>
        </connector>
        <object>SAM_Plan__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>testTextResource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>5</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCurrentYear</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varFinSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Financial_Summary__c</objectType>
    </variables>
    <variables>
        <name>varFinSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Financial_Summary__c</objectType>
    </variables>
    <variables>
        <name>varNumberToCreate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </variables>
</Flow>
