force-app/main/default/flows/SAM_Fiscal_Year_Update_Fin_Summaries.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Fin_Summary_To_Collection</name>
        <label>Add Fin Summary To Collection</label>
        <locationX>270</locationX>
        <locationY>1068</locationY>
        <assignmentItems>
            <assignToReference>FinSummariesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempFinSummaryRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SAM_Plans_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_For_Deletion</name>
        <label>Assign For Deletion</label>
        <locationX>270</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>Old_Fin_Summaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Fin_Summaries_for_Deletion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAMPlanIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Fin_Summaries_for_Deletion.SAM_Plan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Fin_Summaries_for_Deletion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateTempFinSummaryRecord</name>
        <label>CreateTempFinSummaryRecord</label>
        <locationX>270</locationX>
        <locationY>960</locationY>
        <assignmentItems>
            <assignToReference>TempFinSummaryRecord.SAM_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SAM_Plans_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempFinSummaryRecord.Financial_year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>YearToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Fin_Summary_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Fiscal_Year_Start</name>
        <label>Check Fiscal Year Start</label>
        <locationX>402</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Loop_Fin_Summaries_for_Deletion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesFiscalYear</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Fin_Summaries_for_Deletion.SAM_Plan__r.IsFiscal_Year__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_For_Deletion</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRecordForDeletionNotEmpty</name>
        <label>IsRecordForDeletionNotEmpty</label>
        <locationX>182</locationX>
        <locationY>1368</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesDeletionNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Old_Fin_Summaries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Old_Fin_Summaries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Year_To_Remove</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Flow.CurrentDate})-2) &amp;&apos;/&apos; &amp;RIGHT(TEXT(YEAR({!$Flow.CurrentDate})-1),2)</expression>
    </formulas>
    <formulas>
        <name>YearToCreate</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Flow.CurrentDate})+3) +&apos;/&apos;+RIGHT(TEXT(YEAR({!$Flow.CurrentDate})+4),2)</expression>
    </formulas>
    <interviewLabel>SAM Fiscal Year Update Fin Summaries {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SAM Fiscal Year Update Fin Summaries</label>
    <loops>
        <name>Loop_Fin_Summaries_for_Deletion</name>
        <label>Loop Fin Summaries for Deletion</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Fin_Summaries_For_Deletion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Fiscal_Year_Start</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SAM_Plans_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SAM_Plans_Loop</name>
        <label>SAM Plans Loop</label>
        <locationX>182</locationX>
        <locationY>852</locationY>
        <collectionReference>SAMPlanIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateTempFinSummaryRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Fin_Summaries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Fin_Summaries</name>
        <label>Create New Fin Summaries</label>
        <locationX>182</locationX>
        <locationY>1260</locationY>
        <connector>
            <targetReference>IsRecordForDeletionNotEmpty</targetReference>
        </connector>
        <inputReference>FinSummariesToCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Old_Fin_Summaries</name>
        <label>Delete Old Fin Summaries</label>
        <locationX>50</locationX>
        <locationY>1476</locationY>
        <inputReference>Old_Fin_Summaries</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Fin_Summaries_For_Deletion</name>
        <label>Get Fin Summaries For Deletion</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Fin_Summaries_for_Deletion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Financial_year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Year_To_Remove</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Financial_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Fin_Summaries_For_Deletion</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-08-09</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FinSummariesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Financial_Summary__c</objectType>
    </variables>
    <variables>
        <name>Old_Fin_Summaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Financial_Summary__c</objectType>
    </variables>
    <variables>
        <name>SAMPlanIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TempFinSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Financial_Summary__c</objectType>
    </variables>
</Flow>
