force-app/main/default/flows/Set_Stage_Planned_Dates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_planned_dates</name>
        <label>Set planned dates</label>
        <locationX>638</locationX>
        <locationY>87</locationY>
        <assignmentItems>
            <assignToReference>StageObject.Planned_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StageObject.Original_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StageObject.Planned_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StageObject.Original_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_StagesToUpdate_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_StagesToUpdate_collection</name>
        <label>Update StagesToUpdate collection</label>
        <locationX>720</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>StagesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StageObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Stages</targetReference>
        </connector>
    </assignments>
    <description>This flow iterates through each stage of a case and sets the planned start/end dates equal to the original dates</description>
    <interviewLabel>Set Stage Planned Dates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Stage Planned Dates</label>
    <loops>
        <name>Loop_through_Stages</name>
        <label>Loop through Stages</label>
        <locationX>417</locationX>
        <locationY>252</locationY>
        <assignNextValueToReference>StageObject</assignNextValueToReference>
        <collectionReference>StageCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_planned_dates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_Stages_with_new_dates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_associated_stages</name>
        <label>Get all associated stages</label>
        <locationX>343</locationX>
        <locationY>114</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Stages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Procurement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Procurement_Stage__c</object>
        <outputReference>StageCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Original_Date__c</queriedFields>
        <queriedFields>Planned_Start_Date__c</queriedFields>
        <queriedFields>Original_End_Date__c</queriedFields>
        <queriedFields>Planned_End_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Stages_with_new_dates</name>
        <label>Update the Stages with new dates</label>
        <locationX>555</locationX>
        <locationY>373</locationY>
        <inputReference>StagesToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Get_all_associated_stages</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StageCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Procurement_Stage__c</objectType>
    </variables>
    <variables>
        <name>StageObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Procurement_Stage__c</objectType>
    </variables>
    <variables>
        <name>StagesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Procurement_Stage__c</objectType>
    </variables>
</Flow>
