force-app/main/default/flows/User_Research_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_User_Research_Records</name>
        <label>Assign User Research Records</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>NoofUserResearchRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>User_Research_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_User_Research_Exist</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_User_Research_Exist</name>
        <label>Does User Research exist?</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_User_research</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoofUserResearchRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Opted_In</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opted_In</name>
        <label>Is Opted In</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 AND 2 AND (3 OR 4)) OR (1 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User_Research_Participate_Consent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opt In</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Research_Participate_Consent__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.User_Research_Participate_Consent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opt Out</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.User_Research_Participate_Consent__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>IsNewFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_UR_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Automations related to user research:
1) auto-create user research record</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNewFormula</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>User Research Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Research Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_User_Research_Record</name>
        <label>Create User Research Record</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueID</elementReference>
            </value>
        </inputAssignments>
        <object>User_Research__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_UR_Queue</name>
        <label>Get UR Queue</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_User_Research_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User_Research_queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Research</name>
        <label>Get User Research</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_User_Research_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>User_Research__c</object>
        <outputReference>User_Research_Records</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Research</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NoofUserResearchRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Research_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User_Research__c</objectType>
    </variables>
</Flow>
